.layout{
    display: flex;
}
.sidebar{
    background-color: #06163a;
    width: 15%;
    height: 100vh;
    color: #dae6f5;

}
.navbar{
    background-color: #ffffff;
    width: 85%;
    height: 50px;
}
.logo{
    width: 90%;
    height: 6vh;

}
.baricon{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: #aeaeae;
}
.navbaricons{
    display: flex;
   margin-left: auto;
}
.iconcolor{
    color: #a5a5a5;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
}
 .nav-text{
    list-style: none;
    font-size: 1vw;
    padding-top: 20px;
}
.iconspace{
    display: inline;
    margin-right: 1vw;
    margin-left: -20px;
}
.mainblock{
    background-color: #edf5f8;
    width: 100%;
    overflow-y: scroll;
    margin-top: -5px;
    height: 92.3vh;
}
.mainblock::-webkit-scrollbar {
    width: 5px;
  }
  
  .mainblock::-webkit-scrollbar {
    width: 5px;
  }
  
  .mainblock::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  .mainblock::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
