.block-left{
    background-color: #ffffff;
    width: 70%;
    padding: 0.8rem;
    margin-left: 1.7rem;
    margin-top: 2%;
 
   
   
}


.block1{
    display: flex;
}
.block-right{
    background-color: #ffffff;
    width: 30%;
    padding: 0.8rem;
    margin-left: 1.5rem;
    margin-top: 2%;
    margin-right: 1.7rem;

}
.text-light{
    color: #aeaeae;
    font-size: 0.8rem
}
.text-main{
    color: black;
    font-size: 1.2rem;
}
.values{
    width: 35%;
    margin-left: 1rem;
}
.graph{
    width:65%;
}
.value-text{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
}
.last-btn{
    background-color: #fa6014;
    color: whitesmoke;
    border:1px solid #fa6014;
    padding:0.625rem;
    border-radius: 5px;
    font-size: 1rem;
    
}
.graph-report{
    display: flex;
    font-size: 0.8rem;
}
.active-graph{
    border-bottom: 2px solid #ca6533;
    margin-right:1rem ;
    font-size: 0.8rem;
}
.other-graph-report{
    margin-right:1rem ;
    color: #aeaeae;
    font-size: 0.8rem;

}
.online-status{
    display: flex;
    margin-left: auto;
    margin-top: -0.8rem;
    
}
.Online{
        color: #25a6e6;
        font-size: 0.8rem;
 
}
.Offline{
    color: #fe5e24;
    font-size: 0.8rem   ;
}


.status-text{
    color: #aeaeae;
    font-size: 0.8rem;
    margin-top: 0.7rem;


}
.online-status p{
    margin-right: 20px;
}
.wallet-balance{
    display: flex;
    justify-content: space-around;
}
.icon-text-wallet{
    display: flex;
}
.wallet{
    background-color: #ef3d18;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 3vw;
    padding: 1vw;
    margin-right: 1vw;
    color: whitesmoke   ;
    font-size: 1.3vw;
}
.refral{
    background-color: #6d7ae3 ;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 3vw;
    padding: 1vw;
    margin-right: 1vw;
    color: whitesmoke   ;
    font-size: 1.3vw;
}
.estimate{
    background-color: #4c993a;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 3vw;
    padding: 1vw;
    margin-right: 1vw;
    color: whitesmoke   ;
    font-size: 1.3vw;
}
.earning{
    background-color:  #f67a98;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 3vw;
    padding: 1vw;
    margin-right: 1vw;
    color: whitesmoke   ;
    font-size: 1.3vw;

}
.last-text-clor{
    color: #aeaeae;
    font-size: 1rem;
}
.last-value-text{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;

}
.ui-widget {
    position: relative;
    display: inline-block;
    width:13rem;
    height: 13rem;
    margin: 1.5rem;
    border: 1.2rem solid #f4c61d;
    text-align: center;
    border-radius: 9rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-bottom-color: #a5e2fd;
    border-top-color:#ff5f13 ;
    border-right-color:#ff5f13;
    box-sizing: border-box;
}
.center{
    margin-left: 2.3rem;
    margin-top: -1.5rem;
}
.facebook{
    color: #22a1fe;
    font-size: 1rem;
}
.youtube{
    color: #ff5f13;
    font-size: 1rem;
}
.direct{
    color: #fcca00;
    font-size: 1rem;
}
.percentage{
    color: black;
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;

}
.block-right .wallet-balance{
    margin-top: -1rem;
}